---
title: Concourse Architecture
owner: Concourse
---

This topic describes the components that make up a Concourse installation and their functions.

## <a id="diagram"></a> Diagram

The following diagram introduces the components that make up a Concourse installation:

* A _Web_ VM that includes the ATC and TSA components
* A PostgreSQL database
* A _Worker_ VM that includes the Beacon, Garden, and Baggageclaim components, along with container and volume instances.

![Arch Doc](concourse-arch.png)

## <a id="descriptoin"></a> Component Descriptions

The following table describes the function of each Concourse component:

<table>
<tr>
<th>Part</th>
<th>Function</th>
</tr>
<tr>
<td>ATC</td>
<td>The <b>ATC</b> is an HTTP server that does the following:
<ul>
<li>Provides the Concourse web UI.</li>
<li>Exposes the Concourse API on port 8080, which serves the Fly CLI and other components</li>
<li>Schedules pipelines to run on worker VMs. The ATC uses data stored in the PostgreSQL database to know what to schedule</li>
</ul>
</td>
</tr>
<tr>
<td>
TSA
</td>
<td>
The <b>TSA</b> is a SSH server that secures the <a href="http://concourse.ci/registering-via-tsa.html">registration of worker VMs to the ATC</a>. Listens on port 2222.
<br><br>
If a Concourse installation uses workers running in separate networks from the ATC, the TSA acts as a reverse-proxy. In this case, the TSA advertises an ephemeral port as the worker VM address.
</ul>
</td>
</tr>
<tr>
<td>PostgreSQL</td>
<td>The <b>PostgreSQL</b> database does stores all pipeline data, such as build logs and resource versions.</td>
</tr>
<tr>
<td>Worker</td>
<td>A <b>Worker</b> is a VM that does the following:
<ul>
<li>Registers itself with and sends heartbeats to the ATC. The <b>Beacon</b> does this by communicating with the ATC through the TSA.</li>
<li>Runs pipelines using Garden containers and Baggageclaim volumes.
</li>
</ul>
<b>Garden</b> orchestrates <b>containers</b> remotely. After receiving instructions from the ATC on port 7777, Garden uses containers to do things such as discover <a href="http://concourse.ci/resource-types.html">resource</a> versions or run steps in a <a href="http://concourse.ci/build-plans.html">build plan</a>.<br><br>
<b>Baggageclaim</b> provides an API for remote management of disk resources, or <b>volumes</b>, which are mounted to containers. After receiving instructions from the ATC on port 7788, Baggageclaim uses volumes to store persistent caches of resource versions and to propogate artifacts such as caches and task outputs through the containers used for a build.
</td>
</tr>
</table>

For more information, see the [Concourse Documentation](http://concourse.ci/architecture.html). 
