---
title: Credential Management in Concourse
owner: Concourse / OLM
---
[Encrypting](./encryption.html) your Concourse OLM deployment is a good first step to securing your CI/CD tools. For even greater security, Pivotal recommends that you use a credential manager as well.

Explicit credential management provides temporary credentials to your Concourse OLM builds. These credentials are not stored anywhere. Credential management also allows for credentials to be rotated and managed from outside the pipeline or team, and prevents them from being revealed by [get-pipeline](https://concourse.ci/fly-get-pipeline.html).

Credential management works by replacing the credentials with [((parameters))](https://concourse.ci/fly-set-pipeline.html#parameters) in your pipeline or task config files. When the ATC is about to run the step or check that is configured with the parameters, it will resolve them by fetching the values from the credential manager. This ensures that credentials are not transmitted over insecure channels, or stored in build history.

Concourse OLM uses [Vault](https://vaultproject.io/) as a credential manager.

## What credentials can I store?
You can use a credential manager to control the following resources:
<ul>
<li><a href="https://concourse.ci/configuring-resources.html#source">Source</a> under <a href="https://concourse.ci/configuring-resources.html">resources</a> or <a href="https://concourse.ci/configuring-resource-types.html">resource types</a> in a pipeline</li>
<li><a href="https://concourse.ci/configuring-resources.html#source">Source</a> under <a href="https://concourse.ci/running-tasks.html#image_resource">image_resource</a> in a task config</li>
<li><a href="https://concourse.ci/task-step.html#task-params">Parameters</a> in a pipeline</li>
<li><a href="https://concourse.ci/running-tasks.html#params">Parameters</a> in a task config</li>
</ul>
Where these values are looked up and how the credential manager is configured depends on the backend. Consult the relevant section below for whichever backend you want to use.

## Using Vault
### Configuration
Statically configure your ATC with a Vault server URL (plus any TLS config), and either a client token or an auth backend.

To configure Vault, provide the vault properties to your ATC. More details on this process are described in the [BOSH documentation](http://bosh.io/jobs/atc?source=github.com/concourse/concourse&version=3.3.2#p=vault).


</pre>

### Credential Lookup Rules
When resolving a parameter such as ((YOUR\_PARAM)), the ATC looks in the following paths:
<ul>
  <li><code>/concourse/TEAM\_NAME/PIPELINE\_NAME/YOUR\_PARAM</code></li>
  <li><code>/concourse/TEAM\_NAME/YOUR\_PARAM</code></li>
</ul>

If you need to, change the leading `/concourse` by specifying <code>--vault-path-prefix</code>.

If the action runs in the context of a pipeline, the ATC looks in the pipeline path first. If the action is not found there, the ATC looks in the team path. This allows credentials to be scoped widely if they are common across many pipelines.

If an action is run in a one-off build, the ATC only looks in the team path.
