---
title: Concourse Guides
owner: Concourse
---

Concourse is an Open Source project with a community of contributors who have
written guides for a variety of Concourse installation configurations
and use cases. Here you will find a list of useful guides that are currently
maintained by members of the Concourse community.

<p class="note warning"><strong> WARNING</strong>: 
 These guides have been selected based on their popularity and success with Concourse and PCF users.
 While these guides are <em>not</em> supported by Pivotal Support Services, you can find additional resources
 and assistance listed in the Concourse Open Source <a href="https://concourse-ci.org/community.html">community pages</a>.
</p>

<table>
  <tr>
    <th>Topic</th>
    <th>Source</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="https://concoursetutorial.com/">Concourse Tutorials</a></td>
    <td>Stark and Wayne</td>
    <td>A linear sequence of tutorials for learning how to use Concourse.</td>
  </tr>
  <tr>
    <td> <a href="https://github.com/pivotalservices/concourse-pipeline-samples">Concourse How-Tos and Samples</a> </td>
    <td>PCF Services</td>
    <td>This respository contains code samples and recipes for common Concourse pipelines and deployment patterns</td>
  </tr>
  <tr>
    <td><a href="https://github.com/pivotal-cf/pcf-pipelines/blob/master/docs/credhub-integration.md">CredHub Integration with Concourse</a></td>
    <td>PCF Services</td>
    <td>This guide provides samples of deployment manifests and pipelines for the integration of a BOSH-deployed Concourse server with CredHub</td>
  </tr>
  <tr>
    <td> <a href="https://github.com/pivotalservices/concourse-pipeline-samples/tree/master/concourse-pipeline-patterns/vault-integration">Concourse Integration with Vault</a> </td>
    <td>PCF Services</td>
    <td>Describes Vault configurations for integration with a BOSH-deployed Concourse server</td>
  </tr>
  <tr>
    <td> <a href="https://github.com/pivotal-cf/pcf-pipelines/blob/master/docs/vault-integration.md">Secure credential automation with Vault</a> </td>
    <td>PCF Services</td>
    <td>Examples of using Vault for credentials management in Concourse pipelines</td>
  </tr>
  <tr>
    <td> <a href="https://github.com/pivotalservices/concourse-pipeline-samples/tree/master/concourse-pipeline-patterns/uaa-authentication">Concourse integration with PCF UAA</a> </td>
    <td>PCF Services</td>
    <td>A guide on securing teams in Concourse using UAA as an identity provider</td>
  </tr>
  <tr>
    <td> <a href="https://github.com/pivotalservices/concourse-pipeline-samples/tree/master/concourse-pipeline-hacks/http-proxy-config">Concourse with an HTTP/HTTPS Proxy</a> </td>
    <td>PCF Services</td>
    <td>A guide on configuring your Concourse deployment in an environment with an HTTP/HTTPS proxy</td>
  </tr>
  <tr>
    <td> <a href="https://github.com/pivotal-cf/pcf-pipelines/blob/master/docs/offline-pipelines.md">Pipelines in an offline environment</a> </td>
    <td>PCF Services</td>
    <td>A guide on configuring pipelines in an environment with limited or isolated access to the Internet
  </tr>
</table>
