---
title: Concourse for PCF
owner: Concourse
---

<strong><%= modified_date %></strong>

Concourse for Pivotal Cloud Foundry (PCF) is a continuous integration tool that enables you to build, scale,
and monitor pipelines outside of your PCF deployment.
Using Concourse, you can set up production pipelines to deploy and manage your apps in real time.

## <a id="install"></a>Installing Concourse for PCF

Concourse for PCF is a BOSH release that requires the operator to install and maintain an independent BOSH Director.

If you are unfamiliar with BOSH,
Pivotal recommends that you review the <a href="http://bosh.io/docs">BOSH documentation</a>
before continuing with the installation of Concourse for PCF.

<p class="note"><strong>Note:</strong> Pivotal recommends using BOSH CLI v5 or later with Concourse for PCF. Pivotal discourages using BOSH CLI v1.</p>

When you are ready to install Concourse for PCF, see
<a href="./installing.html">Installing Concourse for PCF</a>.

## <a id="additional-considerations"></a>Additional Considerations

<strong>Database Encryption</strong>

Concourse lets you encrypt sensitive information before it reaches the database.
By using encryption, you ensure that plaintext credentials do not exist in memory for longer than absolutely necessary.

For more information, see <a href="./encryption.html">Encrypting Concourse Databases</a>.

<strong>Credential Management</strong>

With Concourse credential management, you can parameterize pipeline credentials with parameters in your
pipeline or task config files. For more information, see the
[Concourse documentation](https://concourse-ci.org/setting-pipelines.html#pipeline-vars).
Credential management also allows for credentials to be rotated and managed from outside the pipeline or team
and prevents them from being revealed by the `get-pipeline` command. For more information about `get-pipeline`,
see the [Concourse documentation](https://concourse-ci.org/managing-pipelines.html#fly-get-pipeline).

For more detail, see <a href="./credential-management.html">Credential Management in Concourse</a>.

<strong>Team Authentication</strong>

Concourse provides options for team authorization to protect confidential or sensitive data.

For more information, see <a href="./authenticating/local-auth.html">Configuring Local Users</a>.

## <a id="monitoring-and-troubleshooting"></a>Monitoring and Troubleshooting

Concourse can emit metrics about both the system health itself and about the builds that it is running.
Operators can tap into these metrics to observe the health of the system.

For more information, see <a href="./troubleshooting.html">Monitoring and Troubleshooting</a>.

## <a id="architecture"></a>Concourse Architecture

Concourse is composed of two major sub-components: the web service (ATC and TSA) and workers.

For information about the architecture of Concourse and its components, see <a href="./architecture.html">Concourse Architecture</a>.

## <a id="troubleshooting"></a>Monitoring and Troubleshooting Your Installation

To troubleshoot your Concourse for PCF installation, see <a href="./troubleshooting.html">Monitoring and Troubleshooting</a>.

## <a id="compatibility"></a>Concourse Compatibility
| Concourse Version |   PostgreSQL  | Tested Stemcell  |  Supported Stemcells | Tested CredHub  |
|:-----------------:|:-------------:|:----------------:|:--------------------:|:---------------:|
|       v5.2.0      | 9.6+ External |   Xenial 315.26  |      315.x           |      2.4.0      |
|       v5.2.1      | 9.6+ External |   Xenial 315.26  |      315.x           |      2.4.0      |
|       v5.2.3      | 9.6+ External |   Xenial 315.26  |      315.x           |      2.4.0      |

<p class="note warning"><strong>Warning: </strong>If you are using PostgreSQL v11.1 or v11.2, set
<code>max_parallel_workers_per_gather</code> to <code>0</code>. This corrects a PostgreSQL infinite parallel
query issue.<br><br>
For more information, see
<a href="https://www.postgresql.org/docs/11/runtime-config-resource.html#GUC-MAX-PARALLEL-WORKERS-PER-GATHER">max_parallel_workers_per_gather (integer)</a> and
<a href="https://www.postgresql.org/message-id/15585-324ff6a93a18da46@postgresql.org">BUG #15585: infinite DynamicSharedMemoryControlLock waiting in parallel query</a>
 in the PostgreSQL documentation.

<p class="note"><strong>Note:</strong> Concourse is compatible with CredHub
versions 2.1.2 and later. It is not compatible with versions 2.0.0 to 2.1.1.</p>

<p class="note"><strong>Note:</strong> The values in the "Tested" columns indicate
  that Concourse was tested with the listed stemcell or product version upon release.
  This does not mean that Concourse is restricted to those dependencies.</p>

## Additional Documentation

For more information about the open source Concourse project that powers Concourse for PCF, see the [Concourse documentation](https://concourse-ci.org/).
