---
title: Concourse for PCF
owner: Concourse
---

Concourse for Pivotal Cloud Foundry (PCF) is a continuous integration tool that lets you build, scale,
and monitor pipelines outside of your PCF deployment.
Using Concourse, you can set up production pipelines to deploy and manage your apps in real time.

You can also read the documentation for the open source [Concourse project](http://concourse.ci/introduction.html), which powers Concourse for PCF.

## <a id="install"></a>Installing Concourse for PCF

Concourse for PCF is a BOSH release that requires the operator to install and maintain an independent BOSH director.

If you are unfamiliar with BOSH, Pivotal recommends that you review the <a href="http://bosh.io/docs">BOSH documentation</a> before
continuing with the installation of Concourse for PCF.

When you are ready to install Concourse for PCF, see
<a href="./prep_and_install.html">Preparing an Environment for Concourse</a>
and <a href="./installing.html">Installing Concourse for PCF</a>.

## <a id="additional-considerations"></a>Additional Considerations

<strong>Database Encryption</strong>

Concourse lets you encrypt sensitive information before it reaches the database.
By using encryption, you ensure that plaintext credentials do not exist in memory for longer than absolutely necessary.

For more information, see <a href="./encryption.html" class="subnav">Encrypting Concourse Databases</a>.

<strong>Credential Management</strong>

With Concourse credential management, pipeline credentials can be parameterized with
[((parameters))](https://concourse.ci/fly-set-pipeline.html#parameters) in your pipeline or task config files.
Credential management also allows for credentials to be rotated and managed from outside the pipeline or team,
and prevents them from being revealed by [get-pipeline](https://concourse.ci/fly-get-pipeline.html).

For more information, see <a href="./credential-management.html" class="subnav">Credential Management in Concourse </a>.

<strong>Team Authentication</strong>

In order to protect confidential or sensitive data, Concourse provides options for team authorization.

For more information, see <a href="./authenticating.html" class="subnav">Configuring Team Authentication</a>.

## <a id="backing-up"></a>Back Up and Restore

Backing up Concourse databases is a best practice that helps protect pipelines, build history, and team information over time.
You can also use backed up versions of databases to restore database states after unexpected problems,
like database failure, corruption, or interference from malicious third parties.

For more information, see <a href="./backing-up.html" class="subnav">Backing Up and Restoring a Concourse Database</a>.

## <a id="monitoring-and-troubleshooting"></a>Monitoring and Troubleshooting

Concourse can emit metrics about both the system health itself and about the builds that it is running.
Operators can tap into these metrics in order to observe the health of the system.

For more information, see <a href="./troubleshooting.html" class="subnav">Monitoring and Troubleshooting</a>.

## <a id="architecture"></a>Concourse Architecture

Concourse is composed of two major sub-components: the web service (ATC and TSA) and workers.

For information about the architecture of Concourse and its components, see <a href="./architecture.html" class="subnav">Concourse Architecture</a>.

## <a id="reference-pipelines"></a>Reference Pipelines
The Pivotal Cloud Foundry Services team has a collection of reference
pipelines that may be useful for operators to use as a starting point:

<ul>
  <li><a href="https://github.com/pivotal-cf/pcf-pipelines">PCF-Pipelines</a></li>
  <li><a href="https://github.com/pivotalservices/concourse-pipeline-samples">Concourse How-Tos and Samples</a></li>
</ul>

<p class="note"><strong>Note</strong>:These pipelines are Open Source reference pipelines that are built and maintained
by Pivotal R&D and Pivotal Services teams. These are <em>not</em> yet officially supported by Pivotal.

## <a id="troubleshooting"></a>Monitoring and Troubleshooting Your Installation

If you're having trouble with your Concourse for PCF installation, this topic may help.

For more information, see <a href="./troubleshooting.html" class="subnav">Troubleshooting</a>.

## Additional Documentation

You can also read the documentation for the open source [Concourse project](http://concourse.ci/introduction.html), which powers Concourse for PCF.
