---
title: Concourse for PCF
owner: Concourse
---

<strong><%= modified_date %></strong>

Concourse for Pivotal Cloud Foundry (PCF) is a continuous integration tool that enables you to build, scale,
and monitor pipelines outside of your PCF deployment.
Using Concourse, you can set up production pipelines to deploy and manage your apps in real time.

## <a id="install"></a>Installing Concourse for PCF

Concourse for PCF is a BOSH release that requires the operator to install and maintain an independent BOSH Director.

If you are unfamiliar with BOSH,
Pivotal recommends that you review the <a href="http://bosh.io/docs">BOSH documentation</a>
before continuing with the installation of Concourse for PCF.

<p class="note"><strong>Note:</strong> Use the BOSH CLI v2 or v3 with Concourse for PCF.
Pivotal does not recommend using the old BOSH CLI v1 with Concourse for PCF.</p>

When you are ready to install Concourse for PCF, see
<a href="./installing.html">Installing Concourse for PCF</a>.

## <a id="additional-considerations"></a>Additional Considerations

<strong>Database Encryption</strong>

Concourse lets you encrypt sensitive information before it reaches the database.
By using encryption, you ensure that plaintext credentials do not exist in memory for longer than absolutely necessary.

For more information, see <a href="./encryption.html">Encrypting Concourse Databases</a>.

<strong>Credential Management</strong>

With Concourse credential management, pipeline credentials can be parameterized with
[((parameters))](https://concourse-ci.org/setting-pipelines.html#pipeline-params) in your pipeline or task config files.
Credential management also allows for credentials to be rotated and managed from outside the pipeline or team,
and prevents them from being revealed by [get-pipeline](https://concourse-ci.org/managing-pipelines.html#fly-get-pipeline).

For more information, see <a href="./credential-management.html">Credential Management in Concourse </a>.

<strong>Team Authentication</strong>

In order to protect confidential or sensitive data, Concourse provides options for team authorization.

For more information, see <a href="./authenticating/local-auth.html">Configuring Local Users</a>.

## <a id="monitoring-and-troubleshooting"></a>Monitoring and Troubleshooting

Concourse can emit metrics about both the system health itself and about the builds that it is running.
Operators can tap into these metrics in order to observe the health of the system.

For more information, see <a href="./troubleshooting.html">Monitoring and Troubleshooting</a>.

## <a id="architecture"></a>Concourse Architecture

Concourse is composed of two major sub-components: the web service (ATC and TSA) and workers.

For information about the architecture of Concourse and its components, see <a href="./architecture.html">Concourse Architecture</a>.

## <a id="troubleshooting"></a>Monitoring and Troubleshooting Your Installation

If you're having trouble with your Concourse for PCF installation, this topic may help.

For more information, see <a href="./troubleshooting.html">Troubleshooting</a>.

## <a id="compatibility"></a>Concourse Compatibility
| Concourse Version |  RunC  |   PostgreSQL  | Tested Stemcell  |  Supported Stemcells | Tested CredHub  |
|:-----------------:|:------:|:-------------:|:----------------:|:--------------------:|:---------------:|
|       v4.2.1      | 1.16.3 | 9.5+ External |      Xenial 97.16   |      97.x            |      1.9.5      |
|       v4.2.2      | 1.16.0 & 1.17.2 | 9.5+ External |      Xenial 97 & 170.13  |      97.x & 170.x          |      1.9.5      |
|       v4.2.3      | 1.18.2 | 9.5+ External |      Xenial 250.9  |      250.x          |      1.9.5      |
|       v4.2.4      | 1.19.1 | 9.5+ External |      Xenial 250.38  |      250.x          |      1.9.5      |
|       v4.2.5      | 1.19.1 | 9.5+ External |      Xenial 250.38  |      250.x          |      1.9.5      |

<p class="note warning"><strong>Warning: </strong>If you are using PostgreSQL v11.1 or v11.2, you must set
<code>max_parallel_workers_per_gather</code> to <code>0</code>.
This will correct a PostgreSQL infinite parallel query bug.<br><br>
For more information on <code>max_parallel_workers_per_gather</code>, see <a href="https://www.postgresql.org/docs/11/runtime-config-resource.html#GUC-MAX-PARALLEL-WORKERS-PER-GATHER">max_parallel_workers_per_gather (integer)</a> in the PostgreSQL documentation.<br>
For more information on the PostgreSQL infinite parallel query bug, see <a href="https://www.postgresql.org/message-id/15585-324ff6a93a18da46@postgresql.org">BUG #15585: infinite DynamicSharedMemoryControlLock waiting in parallel query</a> in the PostgreSQL documentation.

<p class="note"><strong>Note:</strong> The values in the "Tested" columns indicate
  that Concourse was tested with the listed stemcell or product version upon release.
  This does not mean that Concourse is restricted to those dependencies. </p>

## Additional Documentation

You can also read the documentation for the open source [Concourse project](https://concourse-ci.org/), which powers Concourse for PCF.
