---
title: Pivotal Concourse OLM
owner: Concourse
---

- What is Concourse OLM for?


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Pivotal Concourse OLM.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>vYOUR-VERSION-NUMBER</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>YOUR-RELEASE-DATE (Ex: July 1, 2017)</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>vYOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>vYOUR-COMPATIBLE-OPS-MAN-VERSION (Ex. v1.8.x, v1.9.x, v1.10.x)</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>vYOUR-COMPATIBLE-ELASTIC-RUNTIME-VERSION (Ex. v1.8.x, v1.9.x, v1.10.x)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS?, Azure?, GCP?, OpenStack?, and vSphere?</td>
    </tr>
</table>
