---
title: Installing Concourse
owner: Concourse
---

<strong><%= modified_date %></strong>

Concourse for Pivotal Cloud Foundry (PCF) is a continuous integration and
delivery tool that lets you build and monitor scalable pipelines seamlessly.
This topic describes how to install Concourse and what you need to install it successfully.

## <a id="prereqs"></a> Prerequisites

* A supported IaaS provider: AWS, Azure, GCP, or vSphere
* A BOSH Director. For more information about the BOSH Director, see
[Deploying BOSH with create-env](http://bosh.io/docs/init.html) in the BOSH documentation.
<p class="note warning"><strong>Warning: </strong>It is not recommended to use a
  BOSH Director associated with an existing PCF deployment. BOSH-deployed Concourse
  on an existing PCF deployment may conflict with the common configuration of
  Ops Manager for tiles being installed at the time of deployment.</p>
* BOSH CLI v2. For more information, see
[Deploying BOSH with create-env](https://bosh.io/docs/cli-v2-install/) in the BOSH documentation.
* [Concourse](https://network.pivotal.io/products/p-concourse/) and Garden Run-C
BOSH releases downloaded from Pivotal Network
* The stemcell for your IaaS, for when you create your Concourse deployment manifest.
  To download an Ubuntu Xenial stemcell from Pivotal Network, see
  [Stemcells for PCF (Ubuntu Xenial)](https://network.pivotal.io/products/stemcells-ubuntu-xenial/).
* PostgreSQL 9.5 or later.
Concourse can be configured to connect to an external PostgreSQL database or a
BOSH-managed Cloud Foundry Postgres release (available on [bosh.io](http://bosh.io/releases/github.com/cloudfoundry/postgres-release)).
<p class="note"><strong>Note: </strong> As of Concourse v3.6.0 the Concourse BOSH release no longer supplies an internal postgres.
  You must provide your own postgres database as of 3.6.0.


## <a id="setup"></a> Setting Up and Installing Concourse

1. Configure your IaaS environment by modifying your cloud config for BOSH deployment.
1. Prepare the Concourse deployment manifest.
You can write your own manifest or
[modify a template](https://github.com/concourse/concourse-bosh-deployment/blob/master/cluster/concourse.yml)
with your unique configuration.
You can read more about BOSH deployment configurations in the `concourse-bosh-deployment`
repo for [cluster deployments](https://github.com/concourse/concourse-bosh-deployment/blob/master/cluster/README.md)
<p class="note"><strong>Note: </strong> You will also need to configure authentication.
   Follow the instructions in [Authentication](./authenticating.html).
   Provide `tls_cert` and `tls_key` values in the manifest.</p>
1. Prepare the `cloud-config.yml` file and upload it to your BOSH Director with `bosh update-cloud-config`.
1. Deploy Concourse with `bosh deploy`. For more information,
    see [Deploying](https://bosh.io/docs/deploying/) in the BOSH documentation.
    After Concourse deploys, a success message is displayed.
