---
title: Preparing an Environment for Concourse
owner: Concourse / OLM
---

Instructions for preparing your environment for Concourse installation can
be found here: http://concourse.ci/clusters-with-bosh.html The instructions found
on this page includes sample manifest files, references to prerequisite BOSH knowledge,
IaaS-specific configurations, etc.

<ol>
  <li>
    <b>Deploying Concourse with an External PostgresDB:</b>
    <div>
      The default configuration of Concourse will install and connect to an internally
      managed postgres database. An operator may wish to instruct Concourse to connect
      to an externally managed postgres database instead.
      The specific configuration changes that you will need to make can be made in the
      properties of the atc job <a href="https://bosh.io/jobs/atc?source=github.com/concourse/concourse&version=3.3.2#p=postgresql"> here </a>
    </div>
  </li>
  <li>
    <b>Load Balancing Multiple ATCs</b>
    <div>
      If you anticipate a heavy load on your Concourse installation, you may want
      to consider installing a Load Balancer with multiple ATCs. You can find
      additional documentation on how to set up clusters on the docs <a href="http://concourse.ci/binaries.html#cluster-with-remote-postgres">here</a>
    </div>
  </li>
  <li>
    <b>Reference Pipelines</b>
    <div>
        The Pivotal Cloud Foundry Services team has a collection of reference
        pipeliness that may be useful for operators to use as a starting point:
          <ul>
            <li><a href="https://github.com/pivotal-cf/pcf-pipelines">PCF-Pipelines</a></li>
            <li><a href="https://github.com/pivotalservices/concourse-pipeline-samples">Concourse How-Tos and Samples</a></li>
          </ul>
    </div>
    <div>
      <b>NOTE:</b> These pipelines are Open Source reference pipelines that are built and maintained
      by Pivotal R&D and Pivotal Services teams. These are <em>not</em> yet officially supported <body>
        Pivotal
      </body>
    </div>
  </li>
</ol>
