---
title: Preparing an Environment for Concourse
owner: Concourse
---

<strong><%= modified_date %></strong>

You can find some more information on using the Concourse BOSH release  in the
<a href="https://github.com/concourse/concourse-bosh-deployment">Concourse BOSH Deployment</a> repository.
This page includes sample manifest files, references to prerequisite BOSH knowledge, IaaS-specific configurations, and more.

<ol>
  <li>
    <b>Deploying Concourse with an External PostgresDB:</b>
    <div>
      Concourse v3.6.0 and later no longer manage an internal
      Postgres database with the BOSH release.
      An operator needs to instruct Concourse to connect to one of the following:
      <ul>
        <li>
      An externally-managed Postgres database.</li>
        <li>
      A BOSH-managed Cloud Foundry Postgres release. For more information, see <a href="http://bosh.io/releases/github.com/cloudfoundry/postgres-release">postgres/37</a> in the BOSH documentation.</li>
      </ul>
      You need to configure the <code>postgresql</code> properties of the ATC job for your database.
      For a list of these properties,
      see <a href="https://bosh.io/jobs/web?source=github.com/concourse/concourse-bosh-release&version=5.2.0#p%3dpostgresql">postgresql</a> in the BOSH documentation.
    </div>
  </li>
  <li>
    <b>Load Balancing Multiple ATCs</b>
    <div>
      If you anticipate a heavy load on your Concourse installation, you may want
      to consider installing a Load Balancer with multiple ATCs.
    </div>
  </li>

</ol>
