---
title: Concourse Release Notes
owner: Concourse
---

<strong><%= modified_date %></strong>

## <a id="rn-520"></a> v5.2.0
**Release Date: (TBD) MMMM XX, 2019**

Concourse for PCF v5.2.0 includes Role Based Access Control (RBAC).

Currently, there are five defined roles:

  * `main team`
  * `team owner`
  * `team member`
  * `pipeline operator`
  * `team viewer`

These roles evolved out of the common request of having a read-only team member.
A slightly less powerful `team member` role was added as well.
For more information about RBAC roles and how they impact authentication,
see [Configuring Team Authentication](./authenticating.html).


###<a id="security-520"></a> Security Fixes
This release contains the following security fixes:

* Fixed an information leak that potentially allows <%# Avoid weak verbs: "enable" or "permit" is likely better here. %><%# Avoid weak verbs: "enable" or "permit" is likely better here. %>unauthenticated users to fetch
  the step names and structure for a build with a job not marked `public`.
  This scenario now returns a 401 Unauthorized error.
* Resource metadata is no longer shown by default in exposed pipelines.
  The resource must be set to `public` to show metadata, similar to jobs.
  Build output is an exception.
  If a job is public, any `get` step or `put` steps still show in the build's metadata.
* To safeguard against clickjacking attacks, the `web node` now defaults `X-Frame-Options` to `deny`.
  Running Concourse in an iframe no longer works.
* SSH MAC algorithms have been restricted to a smaller set to fix a vulnerability with the Concourse web instance VM. By default, Golang allows for some weak algorithms that can lead to security vulnerabilities on port 2222, which is used for worker communication.
  * For more information, see SSH Weak MAC Algorithms Enabled in the Tenable documentation.


###<a id="breaking-520"></a> Breaking Changes
This release has the following breaking changes:

#### Installation
The BOSH deployment for Concourse for PCF v5.2.0 requires manifest changes.
For manifest examples, see
[operations](https://github.com/concourse/concourse-bosh-deployment/tree/release/5.1.x/cluster/operations)
in the concourse-bosh-deployment GitHub repository.

#### Fly

* The short-flag for `fly builds --team` has been updated from `-t` to `-n` in order to make it consistent across `fly`

#### Release
* The Concourse BOSH release has been redesigned and is now centered around the Concourse binary.

    <p class="note warning"><strong>Warning:</strong>
      You must re-create your workers during or after you deploy.
      The location where the worker stores volumes has changed and the old
      volume directory is not cleaned up.
      Failing to do so causes disk usage to leak.</p>

    <p class="note warning"><strong>Warning:</strong>
      The <code>additional_resource_types</code> property can no longer be configured.</p>

* The Concourse release no longer needs to be deployed alongside a Garden-runC
  BOSH release, and instead embeds the gdn <%# should this be in code? is this a name? %> binary directly.
* Concourse now uses BPM for deploying the web node.
  For more information on BPM, see [BPM](). <%# find a topic to link to %>

#### Binary
* Generic credential caching has been implemented for all credential managers.
  This replaces Vault-only caching.
  As a result of this change, credential managers now implement a simpler
  interface that makes it easier to look up secrets in multiple paths.
  To make this transition, the following two flags must be updated:
  * `--vault-cache’ is now `--secret-cache-enabled`
  * `--vault-max-lease` is now `--secret-cache-duration`
* The Concourse binary distribution has been reformatted.
  Instead of a self-contained binary, it is now shipped as a TGZ containing the
  binary and its dependencies pre-extracted.
  If you have been passing specific flags to Garden, you must switch to using a
  config file through `--garden-config`, or pass them as `env vars` (e.g. `CONCOURSE_GARDEN_FOO_BAR`).
  These flags are no longer supported because they rely on directly embedding their code.
  The effects of this reformatting include:
  * Simpler and faster startup.
    The Concourse worker command no longer needs to extract resource types, amongst other things, on start.
  * The Concourse binary no longer directly embeds Garden-runC code.
    Instead, it ships alongside the gdn <%# should this be in code? is this a name? %> binary, copied from their releases.
    This simplifies the interface for configuring Garden and enables Concourse to
    leverage Garden's build process rather than risking deviation.

#### Core
* As a result of internal refactoring and decoupling between various components,
  web nodes no longer need to stream user artefacts to one another.
  Because of this the `concourse web --peer-url` flag has been removed.
  However, the SSH gateways that run on the web node need their address for the
  forwarded worker connections to be advertised to other web nodes.
  This value used to be inferred by ‘--peer-url’, so a new `--peer-address` flag has been added for it.
* Two flags have been modified to be more consistent with other flag syntax:
  * `concourse web --vault-auth-param foo=bar` is now `concourse web --vault-auth-param foo:bar`
  * `concourse web --tsa-team-authorized-keys team=path/to/key` is now
  `concourse web --tsa-team-authorized-keys team:path/to/key`.

#### Resources
* As a result of major changes to how resource versions are stored,
the version history for each resource across your pipelines is reset upon upgrading
to Concourse for PCF v5.2.0.
  * The upgrade preserves the state of which versions are disabled.
  * The upgrade preserves the data of what versions of which builds they are inputs to and outputs of.
  * Resource versions are tied directly to an anonymous "resource config".
    Pipeline resources instead point to a config. If their `source:` or `type:` changes,
    they point to a new config with its own version history.
  * Resource version history was associated with a pipeline resource by name.
    This meant that if you changed a resource's configuration or type,
    those old versions would persist, even though they may no longer be appropriate.
  * This improves the accuracy of the system as a whole, removing the need to "purge" the history of a resource.
  * Now that versions are tied directly to their configs,
    check containers are also shared across teams.
    This reduces the overall container count.

<%# what does this note mean? %>
<p class="note"><strong>Note:</strong>
  As a result of the change to check containers, team members who can `fly intercept`
  check containers is limited to `admin` users.</p>

#### Teams
* The `--allow-all-users` flag has been removed because it was often misused.
  You must now configure users explicitly.
* After upgrading, any teams that have `--allow-all-users` configured will preserve
  the behavior and continue to allow all users.
  The next time a team is configured, you have to specify something else,
  because the CLI no longer has the flag.


####<a id="breaking-runtime-520"></a>Runtime
* Support for direct worker registration has been removed.
  The `--peer-ip` flag is no longer available on concourse workers.
  When updating to v5.2.0, remove this flag. The worker registers through forwarding instead.
  Forwarding is more secure because it does not require you to open your workers to inbound traffic.


###<a id="features-520"></a> Features
Features and changes in this release:

#### Fly
* `fly login` workflow has been reworked to better support logging in to a remote session.
  There is now an improved landing page that detects when the token transfer fails
  by allowing you to copy the token to your clipboard instead.
  * The auto-login prompt will also no longer ask for the token, as it disrupts
    the normal flow of the command.
* `fly login` no longer prompts you for your authentication method if
    a username and password are given using `-u` and `-p`.
    The command assumes that you are using local authentication.
* `fly set-pipeline` now prints a copy-pasteable `fly unpause-pipeline` command
  after creating a pipeline.
  This will make it easier to unpause new pipelines as they are set to paused by default.
* `fly set-pipeline` now prints changes in the order of Grouping Jobs in the diff.
* `fly intercept` can now be given a specific container --handle to intercept
* `fly prune-worker` command can now be given an `--all-stalled` or `-a` flag to
  prune all the stalled workers
* `fly execute` will now upload inputs and download outputs in parallel.
* `fly execute` can now specify input mappings with `-m`, which is useful when
  running with ``--inputs-from-job` when the job renames some inputs.
* `fly watch` can be called with `--timestamps` to show per-line timestamps in the build output.
* `fly get-pipeline` now prints resources and resource types in a deterministic order.
* `fly status` prints the expiration status of your token.
* Added new `fly` commands:
  * `fly curl` assists with manual API requests to Concourse.
  * `fly userinfo` lets you know which teams you are logged in to and which roles you have in each team.
  * `fly-land-worker` lands workers remotely.
    This initiates the “landing” process through the API and results in the worker process exiting.
  * `fly-edit-target` edits a target’s name, team, or URL.
  * `fly-delete-target` removes targets from `~/.flyrc`.
  * `get-team` subcommand has been added to `fly`.
    This command allows users to retrieve a single team’s config.



#### Resources
* `Concourse BOSH Release`
  * Now packages Ubuntu-flavored images for each core resource type instead of Alpine.
    This change has been made for compliance reasons.
* `registry-image resource`
* This is a new resource that has been added to the core.
  This resource is intended to replace the `docker-image resource` image for
  image pulling and pushing (but not building).
* This resource improves on the `docker-image` resource in multiple ways:
  * It does not run the Docker daemon to fetch the image - it is written in pure Go,
    using the `go-containerregistry` package.
    This makes the implementation much less error-prone.
    For more information, see [go-containerregistry](https://github.com/google/go-containerregistry)
    in the Google GitHub repo.
  * Because it does not run the Docker daemon, it doesn't need a privileged container.
    The fewer privileged containers in your cluster, the better - especially in light of
    [v4.2.3](https://github.com/concourse/recent CVE fixes/releases/tag/v4.2.3).
  * By focusing solely on fetching and pushing, the resource is smaller and simpler.
  * The resource has test coverage
* These enhancements result in much faster, efficient, and resilient image fetching.
  Pivotal recommends that users try to switch their `image_resources` and `Resource Types`
  to the new resource type.
  In most cases this is just a matter of replacing `type: docker-image` with `type: registry-image`.


#### Runtime
* Containers and volumes are now garbage-collected in parallel to each other,
  with a default max-in-flight of 5 containers and 5 volumes at a time.
  * Previously, workers would garbage collect containers in volumes sequentially,
    destroying containers first and then volumes.
    This meant that if a worker had thousands of volumes to remove,
    it would go through and destroy them one by one - meanwhile,
    containers were not being garbage-collected.
  * This speeds up garbage-collection overall and prevents an imbalance in
    volume/container counts from slowing each other down.
    This is especially important as workers are typically capped at 250 containers,
    but may have thousands of volumes and may even have a slow disk.
* The web node can now be configured with a fewest-build-containers strategy,
  which will place containers on workers that have the fewest build containers.
* Any volumes or containers that disappeared from their worker will now be
  automatically reaped from the database.
  This makes it easier for Concourse to recover from this situation rather than
  erroring with file not found or unknown handle errors.
* Tasks are now permitted to have `inputs`, `outputs`, and `caches` with overlapping paths.
* The error message when a task's `file` refers to an unknown artifact source
  has been made more descriptive.
* Workers can be configured to periodically rebalance so that they do not all
  forward through a single web node.
  To do this, set the `--rebalance-interval` flag on the concourse worker.
  The rebalancing drains in-flight connections and should not disrupt any in-flight builds.
  * This results in a breaking change. For more information, see [Breaking Changes - Runtime](#breaking-runtime-520) above.

#### Core Functionality
* If you want to rename a job, while retaining its build history, Concourse can now retain this build history by updating the job name and specifying the old name as `old_name` within the job config.
* A new flag called `--external-garden-url` has been added. This flag allows for the use of a separately managed Garden server as a worker.
* Concourse is now compatible with CredHub v2.x (with the exception of 2.1 due to a bug).
* Added the ability to retain build logs for a specific time duration.
* A new `in_parallel` step has been added. `in_parallel` can run steps in parallel with more control through two additional configs:
  * `limit`: Limits the number of parallel steps
  * `fail_fast`: Interrupts currently running steps and prevents scheduling pending steps
  * This will deprecate the `aggregate` step in future releases, so it is recommended that users move off to `in_parallel`.
* The web node can now be configured to enable audit logs. Auditing currently logs API calls to the default logger using flags to enable specific auditing groups. For more information on audit logs, see [Enabling audit logs](https://concourse-ci.org/concourse-web.html#audit-logs) in the Concourse open-source documentation.
* The `Vault credential manager` can now be configured with a global shared path for credential lookup. This should make sharing credentials between teams easier to manage. Please use with caution as all teams will be able to access it.
* ‘Steps’ can now be annotated with an ‘on_error’ step hook whose value is a second step to execute only if the parent step errors.
* Task ((vars)) received a large overhaul:
  * Values for task ((vars)) can now be provided during `fly execute`
  * Values may be provided to a task step in a pipeline via `vars`.
  * Tasks can now have ((vars)) almost anywhere in their config, as opposed to just in `image_resource`.
  * For the sake of consistency, pipeline ((params)) will now be referred to as pipeline ((vars)) instead.
* Concourse will now automatically retry fetching credentials when the request to the credential manager fails.
  * By default Concourse will retry 5 times, waiting 1 second between each attempt. This can be adjusted with the `--secret-retry-attempts` and `--secret-retry-interval` flags on concourse web.
* The `put step` can now be explicitly given a list of `inputs` to use, rather than using all of them. This can be used to dramatically speed up builds that have a large amount of artifacts prior to a put.
* The concourse worker command can now be given a `--garden-use-houdini` flag on Linux to use the "no-op" Houdini Garden backend for cases where you don't really want containerization.
* Logs emitted by Concourse components are now more readable.
  * If you're using anything to parse your logs, please make sure to update it accordingly


#### Web UI
* Added the ability to set a name for a Concourse cluster which will be displayed on the dashboard page by setting the `--cluster-name` flag
* The pipeline navigation sidebar has been re-added.
* A new animation has been added to running builds in the build number list to help differentiate between errored and running builds.
* Concourse is now using Material Design icons everywhere in the UI
* URLs in resource metadata are now clickable
* Pipelines now have a play/pause button at the top bar. This will allow you to not have to go back to the dashboard to use the play/pause button.
  * Added a tooltip to the pause toggle on the dashboard page and the pipeline page. This tooltip will display a “not authorized” message if a user doesn’t have permission to pause/unpause a pipeline
* Each step in the build log will now show how long it took to initialize and run when hovering over the icon to the right of the header.
* Resources can now be annotated with `icon` which will allow you to place icons in your pipeline. This will make distinguishing different resource types easier.
* We have replaced resource pausing with resource pinning.
  * Resource pausing had the effect of disabling the periodic checking for the paused resource. However, in most cases it was being used in combination with disabling versions to effectively pin a resource to the most recent available version.
  * However, with Concourse’s global resource versions functionality, each resource actually points to a shared history, so pausing checking wouldn't be enough - if any other pipelines had the same resource, new versions would still arrive.
  * Instead, versions can now be pinned individually via the web UI or via the pipeline config (see version). Pinned resources will also skip periodic checking, but now even if the checking still happens (because some other pipeline had it un-pinned), the resource will stay pinned to the desired version.
  * A comment can also be left on pinned versions for explaining to your team-mates why you decided to pin the resource.
  * During the 5.2.0 upgrade, paused resources will be automatically transitioned to their pinned equivalent, by pinning the resource to the most recent available version. A comment will be left on any resources that are migrated so that it's clear to pipeline users.
* The timestamps shown in the build header will now transition to absolute instead of relative when the build is over 24 hours old.
* The web UI now explains why some get steps have a yellow icon, via a tooltip. The dashboard page will now indicate whether you are seeing a pipeline because it's exposed through an "eye" icon.


#### Teams
* `Generic oAuth` can now be configured with different user ID/name keys.
* `Generic OIDC auth` can now be configured with a different user name key.
* BitBucket auth support has been re-introduced.


###<a id="fixed-520"></a> Resolved Issues

This release fixes the following issues:

#### Fly Commands
* `fly execute` with the `-j` flag now prints the correct build URL.
* `fly execute` with the `--include-ignored` flag no longer fails when files are removed locally.
* `fly execute --input` no longer hangs indefinitely after uploading the input directory as a result of the web node stopping.
* `fly login` now creates the `~/.flyrc` file with chmod `0600` file system permissions.
* `fly intercept` now prints clearer error messages when it fails to execute.
* `fly set-pipeline` no longer has issues when using the `--check-creds` flag
* `fly get-pipeline` now throws an error if the given pipeline does not exist.
   Previously, the command returned an empty pipeline config.
* `fly prune-worker --all-stalled` now only returns a warning if no stalled workers are found.
    Before, it returned an error.


#### Core Functionality
* Multiple groups in the same pipeline can no longer use the same name. If this is attempted an error will occur.
* Fixed a bug where aborting a started build prior to a web node re-attaching to it would result in an orphaned, uncompleted build that was still running.
* The Concourse API now returns a `401 Unauthorized` when an expired/invalid token is used to access an endpoint which supports authenticated/unauthenticated views.
* A check has been added to `concourse web` to ensure that `--session-signing-key` is specified. Not having this specified causes Concourse web to crash.
* Credential managers no longer instantiate twice.
This resulted in two authentication loops.
* Builds no longer crash when a resource is removed from the pipeline configuration while the build is running. This happened for builds that produced outputs for the removed resource.
* `UNIQUE` constraints for `resource_configs` are no longer ineffective.
For more information, see the
[&#96;resource_configs&#96; unique constraint is ineffective #2509](https://github.com/concourse/concourse/issues/2509)
issue in GitHub.
* The `/api/v1/resources` and `/api/v1/jobs` endpoints now return `[]`
instead of `null` when there are no resources or jobs.
* Auth configs set from empty environment variables no longer result in incorrect
Dex configurations.
* Concourse now sends TCP keepalives for connections to the database.
This enables Concourse to detect when the connection has been interrupted ungracefully.
* The `--tsa-authorized-keys` flag is now optional.
You can use this flag when all authorized keys are associated to teams
through `--tsa-team-authorized-keys`.
* When configured to drain build logs to syslog, the web node no longer leaks a connection and goroutine for each build.
* `version` parameters in a `get` step now take precedence over `version` parameters pinned through the
 web UI  and `version` parameters in a resource definition. For information about `version`
 in `get` steps, [get step](https://concourse-ci.org/get-step.html).
 For information about `version` in resource definitions,
 see [Resources](https://concourse-ci.org/resources.html#resource-version).

#### Resources
* Fixed a resource error that caused the following error:

    <pre class=terminal>worker_resource_config_check__resource_config_check_sessio_fkey references unreticulated spline</pre>


#### Runtime
* The default concurrency settings for volume sweeping have been reduced from 5 to 3. This will reduce the stress that volume deletion ends up putting on the system in certain cases.
* The web node now retries on unexpected end-of-file errors. This occurred
when a worker was restarted while a build was running a container on the worker. For information
about web nodes, see [Running a web node](https://concourse-ci.org/concourse-web.html)
in the Concourse documentation.
* The scheduler no longer starts a manually-triggered build until
each resource `last checked` timestamp is after the build `created at` timestamp.
Before, manually-triggered builds caused resource checking to happen in the job scheduling loop.
This ensured that manually-triggered builds ran with the latest versions available.
However, it also slowed down scheduling for every other job in the pipeline
because they are all scheduled in succession.
    * The above refactoring also fixed a race condition that resulted
      in inputs configured with `version:` having every version skipped when a build is manually triggered.
* Task caches are now supported on Windows.


#### Web UI
* Fixed an issue where when watching a build for a long period, users would get an error message that stated “You are not authorized to view the details of this pipeline”.
* The dashboard no longer crashes when a pipeline is configured with a circular dependency.
* Improved rendering for pipeline groups.
* Dashboard search has been improved in the following ways:
  * Team name autocomplete now works even if you are not logged in.
  * Fixed the unstyled autosuggest menu in Chrome.
  * Hitting the escape key now un-focuses the search field.
  * Search autocomplete now only appears if you press a key with the search field focused.
  * Typing `?` into the search field no longer brings up the hotkey help pane.
* Improved the HD dashboard view.
* Tall pipelines no longer are cut off by the top bar.
* Fixed the `status:running` search functionality on the dashboard view.
* When viewing a pipeline build by ID, the top bar now shows the breadcrumb for
its pipeline and job.
* The breadcrumb in the top bar now uses hyperlinks. You can
middle-click and right-click the hyperlinks. This results in predictable browser behavior.
* The groups bar on the pipeline view now has a hover state for each group.
* When viewing a one-off build in the web UI, the build now renders. Before, it was sending errors.
* When the dashboard is more than one page,
using the vertical scroll no longer produces a horizontal scroll that continually grows.
* When viewed on a mobile browser, the black header bar now is sticky.
* The text legibility and anti-aliasing in the web UI has been improved.
* Dashboard behavior has been improved when there are no pipelines in the following
ways:
  * You can now view which team you are a member of.
    Before, you could only view a **no pipelines set** page.
  * The bar along the bottom now shows up.
  * The search function no longer is shown.
  * The HD view has been disabled and now redirects.
* When viewed on a mobile browser, the username in the header now displays correctly.
* When the width of resource metadata is large, the text is cordoned off to the side.
Before, resource metadata was compressed into the resource **get** output.
* The URL link to the web app manifest no longer is relative to the URL.
Before, the link was broken on all pages except root URL.
* The position of the **no results** text has been fixed when searching on the dashboard.
* When viewing a build, only the first batch of builds are rendered. Older builds
are automatically rendered if the build currently being viewed is old or if the user
scrolls to view them.

#### Teams
* Fixed a bug with Dex CloudFoundry connector where it did not iterate over all the results when requesting a user org/spaces for team authorization. This bug made it so that users who were members of many teams often could not access all of their teams.
* In Concourse 4.x, if an OAuth provider was configured, a user that was not a member of any team
could log in to Concourse. However, users could not do anything after they were logged in.
This is no longer permitted.
* `fly login` checks to ensure you have successfully logged
in to the target team and returns an error if the team is not in your token.

#### Credentials
* The AWS SSM credential manager and the AWS Secrets Manager credential manager no longer declare the `AWS_REGION` environment variable as their own.
Before, if you set these environment variable, both credential managers tried to configure them and failed.
The AWS SSM and AWS Secrets Manager credential managers now have `AWS_REGION` environment variables in different namespaces.
* The Vault login retry logic no longer causes Vault to go into a
fast loop after reaching the maximum interval. It now stays at the maximum interval.


#### Installation
* The BOSH release now sets file system permissions for its config values to chmod `0600`.
This fixes PostgreSQL certificate configuration.
* The BOSH release now correctly handles array values for authorized worker keys.
