---
title: Concourse Release Notes
owner: Concourse
---

## <a id="release-notes"></a> Release Notes for Concourse v5.0.0

<strong><%= modified_date %></strong>

## <a id="500"></a> v5.0.0

**Release Date: MMMM XX, 201X
 
### Features

New features and changes in this release:

* 

* 
[//]: # (if there are no new features - only fixes - omit features section?)

### Security Fixes

This release includes the following security fixes:

[//]: # (List CVEs and USNs here along with links to pivotal security site. See wiki for examples.)

* 
*
*

### Fixed Issues

This release fixes the following issue:

* 

### Known Issues

[//]: # (If all known issues were fixed so we can say...)
There are no known issues for this release.

### Compatibility

[//]: # (This table is optional)

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td></td>
</tr>
<tr>
    <td>PCF</td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>vX.X</td>
</tr>
<tr>
    <td></td>
    <td>vX.XX.X</td>
</tr>
<tr>
    <td></td>
    <td>vXXX.X.X</td>
</tr>
<tr>
    <td></td>
    <td>vX.XXX.X</td>
</tr>
</table>

