---
title: Upgrading Concourse
owner: Concourse
---

<strong><%= modified_date %></strong>

Pivotal provides step-by-step upgrade guides for moving to supported versions of
Concourse for PCF.

<p class="note warning"><strong>Warning: </strong>
The BOSH deployment for Concourse for PCF v5.2.0 requires manifest changes.
These changes need to be applied regardless of whether you use the example from
<a href="https://github.com/concourse/concourse-bosh-deployment/tree/release/5.1.x/cluster/operations">concourse-bosh-deployment</a>
or your own manifest.
For more information on these manifest changes, see
<a href="./rn.html#upgrades-520">Release Notes</a>.
</p>

For instructions on upgrading from v4.2.x to v5.2.x with BOSH, see the pages below:

* Upgrade from v4.2.x to v5.2.x
  * [Introduction](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/)
  * [1. Backup Concourse](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/backups/)
  * [2. Upgrading Concourse](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/upgrading-concourse/)
  * [3. Post-Upgrade Validation](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/oxygen-mask/)
* Additional topics
  * [Restoring from a BBR Backup](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/restoring-backups/)
  * [Updating Stemcells](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/updating-stemcells/)
  * [Updating RunC](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/updating-runc/)
  * [Updating Stemcells for External Workers](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/updating-external-workers/)
  * [Validate your deployment status](http://docs.pivotal.io/concourse-pcf/v5/upgrade-guide/healthcheck/)
