<p>By default, Concourse comes with a single team called <code>main</code>.
The <code>main</code> team is an admin team.
This means it can create and update other teams.
Currently there is no way to promote a team to become an admin team,
so <code>main</code> is a special team.
</p>

<p>Concourse requires you to specify at least one user/group to be a member of the <code>main</code>
team during deployment.
The list of allowed users, groups, and orgs are managed through the <code>main_team</code> property in the ATC job.
For more information about this property,
see <a href="https://bosh.io/jobs/web?source=github.com/concourse/concourse-bosh-release&version=5.2.0#p%3dmain_team">main_team</a> in the BOSH documentation.
</p>

<p>An example of adding a local user to the main team can be found in the <code>add-local-users.yml</code>
  file in the <a href="https://github.com/concourse/concourse-bosh-deployment/blob/master/cluster/operations/add-local-users.yml">concourse-bosh-deployment</a> GitHub repository.
</p>

<p>The values set in the authentication flags take effect whenever the ATC starts up.
This allows Concourse to be deployed against declared configurations.
It also makes sure that members of the <code>main</code> team do not get locked out of their Concourse.
</p>
