<p>
  Team members can view the authentication settings of the teams they belong to
  by using the <code>fly teams -d</code> command.
  <br><br>
  For example, the command below:
</p>
<pre class="code">
$ fly -t prod teams -d
</pre>
