---
title: Configuring Local Users
owner: Concourse
---

<strong><%= modified_date %></strong>

This topic describes how to configure your team's authentication using Local Users.

## <a id="overview"></a> Overview
Continuous integration servers often contain many secrets that let them access source code and deploy apps.
It is important that those secrets remain well guarded.
Concourse provides options for both authentication and authorization to give you control over who can access your server and how much they can see.

Any number of the following providers can be enabled at any one time.
Users are given a choice when logging in as to which one they want to use.

<p class="note"><strong>Note:</strong>
If you access your Concourse server over the public internet, then consider using TLS to secure your connection to the web node.
</p>

Configuring team authentication in Concourse is done in two parts:

1. Configure the allowed authentication providers in the deployment manifest.
See [Configure Authentication Providers](#configuring) below.
2. Add users and groups to Concourse teams using `fly set-team`.
See [Add Users and Groups to Teams](#adding) below.

## <a id="configuring"></a> Configure Authentication Providers
Concourse can be configured to use local users, GitHub, generic LDAP, Cloud Foundry, OAuth,
and OIDC as authentication providers.
You must specify the allowed authentication providers before Concourse is deployed.

A Concourse operator needs to provide the following information in their Concourse deployment manifest:

* A list of allowed local users
* Configurations against third-party authentication providers (GitHub, generic LDAP, Cloud Foundry, OAuth, and OIDC)
* Users who should be members of the default `main` team (either local users or users/groups from external authentication providers)

### <a id="local-users"></a> Local Users
Local users must be declared in the `add_local_users` of the `atc` job in the deployment manifest.
Passwords can be supplied in plaintext or as a bcrypted string (minimum 10 rounds).

Example:
<pre class="code">
- user1:password1
- user2:$2y$10$W9542XKXzG5aedX09AlSg.nr0IwejlWosCWXzRKl1eOFzdpgOrGcG
</pre>

<p class="note"><strong>Note:</strong><code>user1</code> and <code>user2</code> mentioned above do not yet have access to any teams. They must be granted access on a team-by-team basis. For more information, see <a href="#adding">Add Users and Groups to Teams</a> below.</p>


### <a id="config-main"></a> The Main Team

 <%= partial 'main-team' %>


## <a id="adding"></a>Add Users and Groups to Teams

<%= partial 'add-users-and-groups' %>


### <a id="add-basic-auth"></a> Local Users
You can grant local users access to a team using the `--local-user` flag:

<ol>
<li>Open a terminal window.</li>
<li>Enter the following command:<br/>
<pre class="code">
$  fly set-team -n YOUR-TEAM --local-user USERNAME
</pre>
</li>
</ol>


### <a id="team-config"></a> Team Configuration Details

<%= partial 'team-config' %>

The output is similar to the following:
<pre class="terminal">
<strong>name</strong>     <strong>users</strong>
main     local:User
</pre>

## <a id="user-roles-and-permissions"></a> Set User Roles and Permissions

Concourse v5.2.0 now has five roles with varying levels of permission.
These are described in the table below:

<table class="nice">
  <th width=20%>Role</th>
  <th>Description</th>
  <tr>
    <td>
      Admin
    </td>
    <td>
      Admin is a special user attribute granted to owners of the main team.
      Admins can administer teams using <code>fly set-team</code>,
      <code>fly destroy-team</code>, and <code>fly rename-team</code>.<br>
      For more information about the main team, see <a href= "#config-main">The Main Team</a>.
    </td>
  </tr>
  <tr>
    <td>
      Team Owner
    </td>
    <td>
      Team owners can read, write, and manage auth capabilities within the scope of their team.<br>
      They cannot rename or destroy the team.
    </td>
  </tr>
  <tr>
    <td>
      Team Member
    </td>
    <td>
      Team members can perform read and write actions within their team.<br>
      They cannot change their team configuration.
    </td>
  </tr>
  <tr>
    <td>
      Pipeline Operator
    </td>
    <td>
      Team pipeline operators can perform pipeline operations such as triggering builds and pinning resources.<br>
      They cannot update pipeline configurations.
    </td>
  </tr>
  <tr>
    <td>
      Viewer
    </td>
    <td>
      Team viewers have read-only access to a team and its pipelines.<br>
      They cannot perform actions such as <code>fly set-pipeline</code> or <code>fly intercept</code>.
    </td>
  </tr>
</table>

For a full list of permissions granted to each user role, see the
[Permission Matrix](https://concourse-ci.org/user-roles.html#permission-matrix)
in the Concourse documentation.

### <a id="setting-user-roles"></a> Set User Roles
By default, the authorization config passed to `set-team` configures the [member role](#member). In addition, Existing
team auth config will be transitioned to the team [owner role](#owner). In other words, anyone that can authenticate
prior to the upgrade will now be authenticated as an owner of their team. This role is the closest equivalent to what
they could do before.

More advanced [roles](#available-user-roles) configuration can be specified through the `--configuration` or `--c` flag.

The `-c` flag expects a YAML file with a single field, `roles:`.
The `roles` field points to a list of role authorization configs.

The attributes in each config will vary by provider. For specifics of your chosen provider, see
[Add Users to Groups and Teams](#adding)

For example, the following config sets the `owner` role using the local auth config:
<pre class="code">
roles:
- name: owner
  local:
    users: ["username"]
</pre>
